<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Vivek, Rakshanda, Abhishek, Sarfaraz, Sidharth">
	<meta name="description" content="JUnit Auto Generator">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoJ Generator</title>

	<!-- Bootstrap CDN Insert -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</head>

<body>
	<div id="showLoggerHistory">
	</div>
	<div class="container p-5 align-items-center justify-content-center" style="height: 100vh; width: 100vw;">
		<div class="d-flex p-5 align-items-center justify-content-center">
			<div class="card border-danger mb-3" style="max-width: 18rem; height: 100px; width: 500px;">
				<div class="card-body align-items-center d-flex justify-content-center">
					<p class="h1">GoodBye</p>
				</div>
			</div>
		</div>
	</div>
	<script>
		fetch('/autoj/getLogs')
			.then(data => {
				document.getElementById('showLoggerHistory').innerHTML = data;
			})
			.catch(error => console.log(error));
	</script>
</body>