<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! Something went wrong</title>
    <link href="img/cg-favicon.png" rel="icon">
    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/home">Back To Home</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<div style="text-align: center; margin-top: 50px; margin-bottom: 260px;">
    <h1>Oops! Something Went Wrong</h1>
    <p>We encountered an error while processing your request.</p>

    <div th:if="${statusCode}">
        <p>Status Code: <span th:text="${statusCode}"></span></p>
    </div>

    <div th:if="${mapValues.error}">
        <p>Error: <span th:text="${mapValues.error}"></span></p>
    </div>


    <p>Contact support if the issue persists.</p>
</div>
<footer>
    <div class="container-md text-center ">
        <h5>All rights reserved by Capgemini. Copyright &copy;2024</h5>
    </div>
</footer>
</body>
</html>